<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.skilrock.boomlotto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />

    <application
        android:name=".utility.MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_icon_boom"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon_boom"
        android:supportsRtl="true"
        android:theme="@style/Theme.BoomLotto"
        tools:replace="android:allowBackup"
        android:preserveLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:debuggable="true"
        tools:ignore="HardcodedDebugMode,UnusedAttribute">
        <activity
            android:name=".ui.activity.InstantGamePlayActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.PlayerInboxActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.BoomLottoActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.CountrySelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.HomeActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.IdVerificationActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.DepositActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.DepositPaymentActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>